.container{
    margin: 0 auto;
}

.about-author-main{
    background: #FFFFFF;
    height: 624px;
    display: flex;
}
.about-author-img__item{
    width: 400px;
    height: 400px;
}
.about-author-img__item{
    width: 464px;
    height: 464px;
    margin: 80px 56px 80px 0;
    border-radius: 100%;
    background-size: contain;
    background-image: url(../project_img/author_img.jpg);
}
.about-author-text__headline{
    margin-top: 131px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
}
.about-author-text__description{
    margin-top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    max-width: 600px;
    padding: 0;
}
.about-author-text__second{
    margin-top: 20px;
}

@media (min-width: 320px) {
    .container{
       max-width: 100%;
    }

    .about-author-img__item{
        width: 272px;
        height: 272px;
        background-image: url(../project_img/author_img.jpg);
    }

    .about-author-main{
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .about-author-img__item {
            margin: 20px 24px 24px 24px;
    }

    .about-author-text__headline {
        margin: 0 16px 16px 16px;
        font-size: 30px;
        line-height: 40px;
    }

    .about-author-text__description {
        margin: 16px;
        
    }
   
}

@media (min-width: 375px) {

    .about-author-main {
        align-items: center;
    }

    .about-author-text__description {
        margin: 16px;
        max-width: 400px;
    }
}

@media (min-width: 768px) {

    .about-author-main {
        align-items: center;
    }

    .about-author-text__description {
        margin: 16px;
        max-width: 400px;
    }

    .about-author-main {
        background: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: unset;
        height: auto;
    }

    .about-author-img__item {
        margin: 40px 40px 40px 0;
    }

    .about-author-text__headline {
        margin: 42px 40px 16px 16px;
    }

    .about-author-text__description {
        margin: 16px 40px 4px 17px;
        max-width: 400px;
    }
}

@media (min-width: 1440px) {

    .about-author-img__item {
        width: 464px;
        height: 464px;
        background-image: url(../project_img/author_img.jpg);
    }

    .about-author-img__item {
        margin: 80px 56px 80px 0;
    }

    .about-author-text__headline {
        margin: 131px 0 24px 0;
        font-size: 40px;
        line-height: 46px;
    }

    .about-author-text__description {
        margin: 0;
        max-width: 600px;
    }

}

