.no-news-found{
    width: 100%; 
    background-color: #F5F6F7;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.no-news-found__img{
    background-image: url(../project_img/not-found-news.png);
    width: 96px;
    height: 96px;
    margin-top: 86px;
}

.no-news-found__title{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin-top: 40px;
}

.no-news-found__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-top: 16px;
    text-align: center;
    margin-bottom: 80px;
}