

.preloader{
    background: #F5F6F7;
    width: 100%;
    display: flex;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
}

.preloader-loader__img{
  background-image: url(../project_img/loader.png);
  width: 74px;
  height: 74px;
  animation: preloader-loader__img .75s linear infinite ;
  background-repeat: no-repeat;
}

@keyframes preloader-loader__img {
    100% {
      transform: rotate(360deg);
    }
  }
 
 .preloader-loader-text{
    margin-top: 24px;
    margin-bottom: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
 } 